.App {
  text-align: center;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.logo{
  height: 60px;
  padding-right: 20px;
}

.eth{
  width: 20px;
  height: 20px;
  padding-right: 10px;

}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.headerItem {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.headerItem:hover {
  background-color: rgb(34, 42, 58);
  cursor: pointer;
}

.connectButton {
  background-color: #243056; 
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 100px;
  color: #5981F3;
  font-weight: bold;
  transition: 0.3s;
}

.connectButton:hover {
  cursor: pointer;
  color: #3b4874
}

.aButton{
	color: #5981F3; 
}

.aButton:hover{
	cursor: pointer;
	color: #3b4874
}

.mainWindow {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
}

.tradeBox {
  width: 400px;
  background-color: #0E111B;
  border: 2px solid #21273a;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}


.tradeBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.cog {
  color: #51586f;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 90deg;
  cursor: pointer;
}

.switchButton {
  background-color: #3a4157;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 86px;
  left: 180px;
  color: #5F6783;
  border: 3px solid #0E111B;
  font-size: 12px;
  transition: 0.3s
}

.dollarAmount {
  position: absolute;
  top: 75px;
  left: 14px;
  font-size: 10px;
  color: #5F6783;
}

.switchButton:hover {
  color: white;
  cursor: pointer;
}

.inputs {
  position: relative;
}

.assetOne {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #3a4157;
  top: 20px;
  right: 5px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.assetTwo {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #3a4157;
  top: 135px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.assetOne:hover{
  cursor: pointer;
}

.assetTwo:hover{
  cursor: pointer;
}

.assetLogo {
  height: 22px;
  margin-left: 5px;
}

.swapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #243056; 
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: #5981F3;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-top: 8px;
}

.swapButton[disabled] {
  background-color: #243056;
  opacity: 0.4;
  color: #5982f39b;
}

.swapButton[disabled]:hover {
  cursor: not-allowed;
  background-color: #243056;
}

.swapButton:hover {
  cursor: pointer;
  background-color: #3b4874
}

.tokenLogo {
  height: 40px;
  width: 40px;
}

.modalContent {
  border-top: 1px solid #363e54;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1.5em;
padding-right: 1.5em;
}

.ant-modal{
	padding-bottom: 0 !important;
}

.ant-modal-title{
	font-size: large !important;
}



.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdownChoice {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	color: white;
	font-size: large;
	font-weight: 500;
  }

.tokenChoice2 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
  }
/* 
.tokenChoice:hover {
  cursor: pointer;
  background-color: #1f2639;
} */

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 700;
  color: #51596f;
}
.ant-menu-item-active {
	background-color: #2f3239 !important;
  }

/* .ant-dropdown-menu-item{
	background-color: #363e54 !important;
} */

.ant-dropdown-menu{
	background-color: #404b6b !important;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.container{
		width: 350px;
		height: 75vh;
		margin: 1em;
		display: flex;
		flex-flow: column;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container{
		width: 450px;
		height: 75vh;
		margin: 1em;
		display: flex;
		flex-flow: column;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1198px) {
	.container{
		width: 550px;
		height: 75vh;
		margin: 1em;
		display: flex;
		flex-flow: column;
	}
}

@media (min-width: 1588px) {
	.container{
		width: 750px;
		height: 75vh;
		margin: 1em;
		display: flex;
		flex-flow: column;
	}
}

@media (min-width: 1900px) {
	.container{
		width: 850px;
		height: 75vh;
		margin: 1em;
		display: flex;
		flex-flow: column;
	}
}

.box{
	background-color: #0E111B;
	border: 2px solid #21273a;
	border-radius: 15px;
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
}

.box2{
	background-color: #0E111B;
	border: 2px solid #21273a;
	border-radius: 15px;
	display: flex;
	flex-flow: column;
	width: 100%;
	flex:1;
}

.rowContainer{
	display: flex;
	flex-direction: row;
	width: 100%;
	flex: 1;
	height: 100%;
}

.columnContainer{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.rowRowRowRow{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex: 0 1;
	height: 100%;
	
}

.rowRow{
	display: flex;
	flex-flow: row;
	width: 100%;
	flex: 1;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.rowElement{
	display: flex;
}

.subBoxContainer{
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.subBoxLeft{
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex:1;
}

.subBoxRight{
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: flex;
	flex:1;
}

.subBox{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: max-width 1s; 
	max-width: 1;
}
.subBox2{
	display: flex;
	width: 15%;
	transition: max-width 1s; 
	max-width: 1;
}

.expanded{
	max-width: 500px;
}

.boxBoxBox{
	display: flex;
	flex: 1;
}

.boxBox{
	display: flex;
	flex-flow: row;
	width: 100%;
	flex: 1;
	height: 100%;
	justify-content: center;
	align-items: center;
}


.dataBoxContainer{
	flex: 1;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.dataBoxHeader{
	text-align: center;
	font-size: large;
	font-weight: bold;
	font-size: x-large;
}

.dataNumber{
	font-size:3.5em;
	font-family: 'Kanit';
}

.containerHeader{
	margin: 1.25em;
	margin-bottom: 0  !important;
	display: flex;
	font-weight: bold;
	font-size: 1.5em;
	justify-content: space-between;
	border-bottom: #51586f;
}

.center{
	margin: 0 auto;	
	flex-flow: column;
}

.depositButton{
	font-weight: bold;
	font-size: .9em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #243056; 
	border-radius: 6px;
	color: #5981F3;
	font-weight: bold;
	transition: 0.3s;
	padding-left: .75em;
	padding-right: .75em;
	padding-top: .2em;
	padding-bottom: .3em;
}

.dropdown {
	background-color: #3a4157;
	border-radius: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	font-weight: bold;
	font-size: .9em;
	padding-right: 8px;
}


.tableCell{
	color: white;
	font-weight: bold;
}

.assetTable{
	display: flex;
	flex-flow: column;
	flex: 1 1 auto;
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: .3em;
	border-radius: 8px !important;
	background-color: none !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px !important;
	background-color: #6b6b6b !important;
	min-height: 24 !important;
}

::-webkit-scrollbar-thumb:focus{
	background-color: #959595 !important;
}

::-webkit-scrollbar-thumb:active{
	background-color: #959595 !important;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #959595 !important;
}

::-webkit-scrollbar-corner{
	background-color: #2b2b2b !important;
}

::-webkit-scrollbar-track {
	border-radius: 8px !important;
}


.MuiGauge-valueText text{
	color: white !important;
	fill: white !important;
}

.value-input-5 {
    background-color: #1f2639 !important;
    color: white !important;
    border-width: 0px !important;
    flex: 0 1;
    width: 70%;
    border-radius: 4px !important;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 60px !important;
    font-size: 40px;
    height: 100%;
    font-weight: bold;
    margin: 0;
    font-family: "Kanit";
  }

.value-input-6 {
    background-color: #1f2639 !important;
    color: white !important;
    border-width: 0px !important;
    flex: 0 1;
    width: 73%;
    border-radius: 4px !important;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 60px !important;
    font-size: 40px;
    height: 100%;
    font-weight: bold;
    margin: 0;
    font-family: "Kanit";
  }

  .borrowBox {
	width: 800px;
	background-color: #0E111B;
	border: 2px solid #21273a;
	min-height: 300px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 30px;
	padding-right: 30px;
  }
  
  
  .subBorrowBoxHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 98%;
  }

  .ant-message-notice-content{
	background-color: #3b4874 !important;
	color: white;
	font-weight: bold;
  }



  .swapButton2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #243056; 
	height: 45px;
	font-size: 20px;
	border-radius: 12px;
	color: #5981F3;
	font-weight: bold;
	transition: 0.3s;
	width: 100%;
  }
  
  .swapButton2[disabled] {
	background-color: #243056;
	opacity: 0.4;
	color: #5982f39b;
  }
  
  .swapButton2[disabled]:hover {
	cursor: not-allowed;
	background-color: #243056;
  }
  
  .swapButton2:hover {
	cursor: pointer;
	background-color: #3b4874
  }
  


.maxLTV{
	background-color: #1A1B1F;
	/* background-color: red; */
	border-radius: 12px;
	font-family: SFRounded, ui-rounded, "SF Pro Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16;
	font-weight: 700;
	padding-block-end: 8px;
	padding-block-start: 8px;
	padding-bottom: 8px;
	padding-inline-end: 10px;
	padding-inline-start: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
}